
<header class="o-header" data-o-component="o-header" data-o-header--no-js="">

	<div class="o-header__row o-header__top">
		<div class="o-header__container">
			<div class="o-header__top-wrapper">
				<div class="o-header__top-column o-header__top-column--center">
					<a class="o-header__top-logo" href="{{"/" | absolute_url}}" title="Go to Financial Times homepage">
						<span class="o-header__visually-hidden">Financial Times</span>
					</a>
				</div>
			</div>
		</div>
	</div>

	<nav id="o-header-nav-mobile" class="o-header__row o-header__nav o-header__nav--mobile" role="navigation" aria-label="Main navigation">
		<ul class="o-header__nav-list">
			<li class="o-header__nav-item">
				<a class="o-header__nav-link o-header__nav-link--primary" href="{{"/" | absolute_url}}" aria-selected="">Home</a>
			</li>
			<li class="o-header__nav-item">
				<a class="o-header__nav-link o-header__nav-link--primary" href="{{"/mock-article" | absolute_url}}" aria-selected="">Mock Article</a>
			</li>
			<li class="o-header__nav-item">
				<a class="o-header__nav-link o-header__nav-link--primary" href="{{"/article-1" | absolute_url}}" aria-selected="">Article 1</a>
			</li>
			<li class="o-header__nav-item">
				<a class="o-header__nav-link o-header__nav-link--primary" href="{{"/article-2" | absolute_url}}" aria-selected="">Article 2</a>
			</li>
		</ul>
	</nav>

	<nav id="o-header-nav-desktop" class="o-header__row o-header__nav o-header__nav--desktop" role="navigation" aria-label="Main navigation">
		<div class="o-header__container">
			<ul class="o-header__nav-list o-header__nav-list--left">
				<li class="o-header__nav-item">
					<a class="o-header__nav-link o-header__nav-link--primary" href="{{"/" | absolute_url}}" aria-selected="">Home</a>
				</li>
				<li class="o-header__nav-item">
					<a class="o-header__nav-link o-header__nav-link--primary" href="{{"/mock-article" | absolute_url}}" aria-selected="">Mock Article</a>
				</li>
				<li class="o-header__nav-item">
					<a class="o-header__nav-link o-header__nav-link--primary" href="{{"/article-1" | absolute_url}}" aria-selected="">Article 1</a>
				</li>
				<li class="o-header__nav-item">
					<a class="o-header__nav-link o-header__nav-link--primary" href="{{"/article-2" | absolute_url}}" aria-selected="">Article 2</a>
				</li>
			</ul>
			<ul class="o-header__nav-list o-header__nav-list--right">
				<li class="o-header__nav-item">
					<a class="o-header__nav-link o-header__nav-link--utility" href="https://www.ft.com/login">Sign In</a>
				</li>
				<li class="o-header__nav-item">
					<a class="o-header__nav-button" href="https://www.ft.com/products">Subscribe</a>
				</li>
			</ul>
		</div>
	</nav>

</header>
