---
layout: page
---

<div class="article" data-o-grid-colspan="12 L8 XL7 XLoffset1" data-component="article">

	<meta name="entities-url" content="{{"/api/entities.json" | absolute_url}}"/>
	{% for term in page.terms %}
		<meta name="article-term" content="{{term}}"/>
	{% endfor %}

	<div class="article__header">
		<div class="article__primary-theme">{{page.primaryTheme}}</div>
		<h1 class="article-headline">{{page.title}}</h1>
	</div>

	{{content}}

	<div class="teach-popover o--if-js" data-component="popover">
		<div class="teach-popover__header">
			<h3 class="teach-popover__heading">
				<a href="#" data-role="popover-open"><img class="book" src="https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1%3Abook?source=hackathon&width=10&height=10&tint=%23ffffff%2C%23ffffff" alt="book">Think with FT</a>
				<button class="teach-popover__close" data-role="popover-close"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1%3Across?source=hackathon&width=10&height=10&tint=%23ffffff%2C%23ffffff" alt="close"></button>
			</h3>
		</div>
		<div class="teach-popover__inner" data-role="popover-inner">
			<div class="teach-popover__content" data-role="popover-content">
				&hellip;
			</div>
		</div>
	</div>

	<script name="entity-link" type="text/x-handlebars">
		{% raw %}
			<a href="#{{entity.name}}" data-component="entity-link" data-entity-json="{{json}}" class="entity-link">{{entity.name}}
			<img class="link-book" src="https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1%3Abook?source=hackathon&width=10&height=10&tint=275e86" alt="book"></a>
		{% endraw %}
	</script>

	<script name="entity" type="text/x-handlebars">
		{% raw %}
		<div class="teach-popover__content-info">
			{{#switch type}}
				{{#case "person"}}

					<!-- Person -->
					<h4 class="teach-popover__content-title">{{name}}</h4>
					<ul>
						{{#if born}}
							<li>
								<span class="info-tile">Born:</span>{{born}}
							</li>
						{{/if}}
						{{#if age}}
							<li>
								<span class="info-tile">Age:</span>{{age}}
							</li>
						{{/if}}
							<li>
								<span class="info-tile">Net Worth:</span>{{net_worth}}
							</li>
					</ul>

					<p><span class="info-tile">Recent:</span>{{recent}}</p>
					<p><span class="info-tile">Previous:</span>{{previous}}</p>
					<p><span class="info-tile">Education:</span>{{education}}</p>
					<p>{{other}}</p>

				{{/case}}
				{{#case "organisation"}}

					<!-- Organisation -->
					<h4 class="teach-popover__content-title">{{name}}</h4>
					<ul>
						<li>
							<span class="info-tile">Status:</span>{{status}}
						</li>
						<li>
							<span class="info-tile">Established:</span>{{established}}
						</li>
						<li>
							<span class="info-tile">Based:</span>{{based}}
						</li>
						<li>
							<span class="info-tile">Size:</span>{{size}}
						</li>
					</ul>

					<p>{{overview}}</p>

					<p>{{activity}}</p>

					{{#if executives}}
						<h5>Executives:</h5>
						<ul class="links">
							{{#each executives}}
								<li>
									<a href="#">{{role}}: {{name}}</a>
								</li>
							{{/each}}
						</ul>
					{{/if}}

				{{/case}}
			{{/switch}}

			{{#if news}}
				<h5>Recent News:</h5>
				<ul class="links">
					{{#each news}}
						<li>
							<a href="{{url}}">{{title}}</a>
						</li>
					{{/each}}
				</ul>
			{{/if}}

			{{#if topics}}
				<h5>Related topics:</h5>
				<ul class="related-topics">
					{{#each topics}}
						<li>
							<button class="o-buttons" href="#">{{.}}</a>
						</li>
					{{/each}}
				</ul>
			{{/if}}

		</div>
		{% endraw %}
	</script>

	<script name="entity-checklist" type="text/x-handlebars">
		<div class="teach-popover__content-checklist">
			<h3 class="article-title">{{page.title}}</h3>
			{% raw %}
				<ul>
					{{#entities}}
						<li>

							<a href="#" data-component="entity-link" data-entity-json="{{json}}">{{name}}</a>
							{{#checked}}
								<img class="check" src="https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1%3Atick?source=hackathon&width=10&height=10&tint=%23ffffff%2C%23ffffff" alt="tick">
							{{/checked}}
						</li>
					{{/entities}}
				</ul>
				<p class="reading-summary">You have read <span class="bold">{{read}}</span> out of <span class="bold">{{total}}</span> Think with FT hints on this article</p>
			{% endraw %}
		</div>
	</script>

</div>
