---
layout: page
---

<div class="article" data-o-grid-colspan="12 L8 XL7 XLoffset1" data-component="article">

	<meta name="entities-url" content="{{"/api/entities.json" | absolute_url}}"/>
	{% for term in page.terms %}
		<meta name="article-term" content="{{term}}"/>
	{% endfor %}

	<div class="article__header">
		<div class="article__primary-theme">{{page.primaryTheme}}</div>
		<h1 class="article-headline">{{page.title}}</h1>
	</div>

	{{content}}

	<div class="teach-popover o--if-js" data-component="popover">
		<div class="teach-popover__header">
			<h3 class="teach-popover__heading">
				<a href="#" data-role="popover-open"><!--<i class="o-icons-icon o-icons-icon--book">--></i>Teach with ft</a>
				<button class="teach-popover__close" data-role="popover-close">close</button>
			</h3>
		</div>
		<div class="teach-popover__inner" data-role="popover-inner">
			<div class="teach-popover__content" data-role="popover-content">
				&hellip;
			</div>
		</div>
	</div>

	<script name="entity-link" type="text/x-handlebars">
		{% raw %}
			<a href="#{{entity.name}}" data-component="entity-link" data-entity-json="{{json}}">{{entity.name}}</a>
		{% endraw %}
	</script>

	<script name="entity" type="text/x-handlebars">
		{% raw %}
		<div class="teach-popover__content-info">
			{{#switch type}}
				{{#case "person"}}

					<!-- Person -->
					<h4 class="teach-popover__content-title">{{name}}</h4>
					<p>{{education}}</p>
					<dl>
						{{#if born}}
							<dt>Born</dt>
							<dd>{{born}}</dd>
						{{/if}}
						{{#if age}}
							<dt>Age</dt>
							<dd>{{age}}</dd>
						{{/if}}
						<dt>Net Worth</dt>
						<dd>{{net_worth}}</dd>
					</dl>

				{{/case}}
				{{#case "organisation"}}

					<!-- Organisation -->
					<h4>{{name}}</h4>
					<p>{{based}}</p>
					<dl>
						<dt>Established</dt>
						<dd>{{established}}</dd>
						<dt>Size</dt>
						<dd>{{size}}</dd>
					</dl>

					{{#if executives}}
						<h5>Executives</h5>
						<ul>
							{{#each executives}}
								<li>
									<a href="#">{{role}}: {{name}}</a>
								</li>
							{{/each}}
						</ul>
					{{/if}}

				{{/case}}
			{{/switch}}

			{{#if news}}
				<h5>Recent News</h5>
				<ul>
					{{#each news}}
						<li>
							<a href="{{url}}">{{title}}</a>
						</li>
					{{/each}}
				</ul>
			{{/if}}

			{{#if topics}}
				<h5>Related topics</h5>
				<ul>
					{{#each topics}}
						<li>
							<a href="#">{{.}}</a>
						</li>
					{{/each}}
				</ul>
			{{/if}}
		</div>
		{% endraw %}
	</script>

	<script name="entity-checklist" type="text/x-handlebars">
		<div class="teach-popover__content-checklist">
			<h3 class="article-title">{{page.title}}</h3>
			{% raw %}
				<ul>
					{{#entities}}
						<li>

							<a href="#" data-component="entity-link" data-entity-json="{{json}}">{{name}}</a>
							{{#checked}}
								<img class="check" src="https://www.ft.com/__origami/service/image/v2/images/raw/fticon%3Atick?source=hackathon&width=10&height=10&tint=%23ffffff%2C%23ffffff" alt="tick">
							{{/checked}}
						</li>
					{{/entities}}
				</ul>
				<p class="reading-summary">You have read <span class="bold">{{read}}</span> out of <span class="bold">{{total}}</span> Think with FT hints on this article</p>
			{% endraw %}
		</div>
	</script>

</div>
