---
layout: page
---

<div class="article" data-o-grid-colspan="12 L8 XL7 XLoffset1" data-component="article">

	<meta name="entities-url" content="{{"/api/entities.json" | absolute_url}}"/>
	{% for term in page.terms %}
		<meta name="article-term" content="{{term}}"/>
	{% endfor %}

	<div class="article__header">
		<div class="article__primary-theme">{{page.primaryTheme}}</div>
		<h1 class="article-headline">{{page.title}}</h1>
	</div>

	{{content}}

	<div class="teach-popover o--if-js" data-component="popover">
		<div class="teach-popover__header">
			<h3 class="teach-popover__heading">
				<a href="#" data-role="popover-open">Teach</a>
				<button class="teach-popover__close" data-role="popover-close">close</button>
			</h3>
		</div>
		<div class="teach-popover__inner" data-role="popover-inner">
			<div class="teach-popover__content" data-role="popover-content">
				&hellip;
			</div>
		</div>
	</div>

	<script name="entity-link" type="text/x-handlebars">
		{% raw %}
			<a href="#{{entity.name}}" data-component="entity-link" data-entity-json="{{json}}">{{entity.name}}</a>
		{% endraw %}
	</script>

	<script name="entity" type="text/x-handlebars">
		{% raw %}
			{{#switch type}}
				{{#case "person"}}

					<!-- Person -->
					<h4>{{name}}</h4>
					<p>{{education}}</p>
					<p>etc etc</p>

				{{/case}}
				{{#case "organisation"}}

					<!-- Organisation -->
					<h4>{{name}}</h4>
					<p>{{based}}</p>
					<p>etc etc</p>

				{{/case}}
			{{/switch}}
		{% endraw %}
	</script>

	<script name="entity-checklist" type="text/x-handlebars">
		{% raw %}
			<ul>
				{{#entities}}
					<li>
						{{name}}
						{{#checked}}
							✔
						{{/checked}}
					</li>
				{{/entities}}
			</ul>
		{% endraw %}
	</script>

</div>
